<h1><%= @name %>, welcom to Chuck Norris jokes<h1>

<p><%= link_to 'Random joke', jokes_random_path %></p>
<p><%= link_to 'Joke categories', jokes_categories_path %></p>
<p><%= link_to 'Joke search', jokes_search_path %></p>

&copy; @Mihail <%= Time.now.year %>
